
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

header{
    padding: 0 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #43C6AC;  
    background: -webkit-linear-gradient(to right, #191654, #3e7f72);  
    background: linear-gradient(to right, #191654, #3a7468); 
}

.logo{
    color:white;
    font-size: 1.5rem;
    /* line-height: 80px; */
    font-weight: bold;
    display: flex;
}

.logo h2{
	padding-left: 0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
}

.logo img{
    width: 6vw;
	height: 12vh;
	border-radius: 100%;
}

span{
    color: #5bd485;
}

.navbar .ul-list{
    display: flex;
	gap: 2rem;
}

.navbar .ul-list li a{
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
	/* padding: 0.5rem; */
}

.navbar .ul-list li a:hover,a:active{
    color: red;
    font-size: 1.25rem;
}



/* ============ icon button ============= */

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}
.mobile-nav-icon{
    width: 40px;
    height: 40px;
    color: white;
}
.mobile-nav-icon[name="close-outline"]{
    display: none;
}



/* ================= Main section ================= */

main{
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}



/* =============== for responsive ============== */

@media (max-width:980px){
    .logo{
        color:white;
        font-size: 1.2rem;
    }
    .navbar .ul-list li a{
        color: white;
        font-size: 15px;
    }
    .logo img{
        height: 10vh;
    }
    main h1{
        font-size: 40px;
    }
}

@media (max-width:860px){
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
    }
    .navbar .ul-list li{
        line-height: 60px;
    }
    .navbar .ul-list li a{
        font-size: 1rem;
    }

    header{
        position: relative;
    }
    .logo img{
        height: 6vh;
    }

    .navbar{
        width: 100%;
        height: 63vh;
        background: black ;
        position: absolute;
        top: 40px;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;
    }

    .navbar .ul-list{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .navbar .ul-list li a:hover,a:active{
        color: #5bd485;
        font-size: 1.25rem;
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }

}


:root{
    --primary-color: #edf2fc ;
    --secondary-color: #212121 ;
}
.dark-theme{
    --primary-color: #000106 ;
    --secondary-color: #fff ;
}

#icons{
    width: 30px;
    cursor: pointer;
}


/* Footer Style   */
footer{
	background-color: #0b0028;
	color: whitesmoke;
	height: 8vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.namelink{
	text-decoration: none;
	font-size: 1rem;
	color: aqua;
}